html {
    position: relative;
    min-height: 100%;
}

.light-blue-background {
    background-color: #81d4fa;
}

#orientation-info {
    width: 100%;
}

.orientation-info {
    padding: 10px 15px;
}

main > .container {
    padding: 60px 15px 0;
}

.btn:focus {
    box-shadow: none;
}

.btn-default:hover {
    background-color: #71c4ea;
    transition: background-color 0.3s;
}

img {
    max-width: 100%;
}

.img-profile {
    border: 0.5rem solid rgba(150, 150, 150, 0.3);
}