.light-blue-background {
    background-color: #81d4fa;
}

#orientation-info {
    width: 100%;
}

.orientation-info {
    padding: 10px 15px;
}

main > .container {
    padding: 60px 15px 0;
}

.a {
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}