/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #29323d;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #29323dcc;
    font-size: 20px;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #29323dff;
}

/*.navbar-custom .nav-item:not(:last-child) {
    border-right: 1px solid silver;
}*/