@media (min-width: 992px) {
    #person-container {
        padding: 100px;
    }
}

@media (max-width: 991px) {
    #person-container {
        padding-top: 100px;
    }
}

img {
    max-width: 266px;
    max-height: 266px;
}