@media (min-width: 992px) {
    #service-container {
        padding: 100px;
    }
}

@media (max-width: 991px) {
    #service-container {
        padding-top: 100px;
    }
}

#service-offeredBy-header-row {
    padding-top: 25px;
    padding-bottom: 25px;
}

img {
    max-width: 100%;
}